<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{datos.componente}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <i class="{{datos.icono}}"></i> {{datos.modulo}}
            </li>
            <li class="breadcrumb-item bcrumb-2">{{datos.componente}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <form class="register-form" [formGroup]="formulario">
      <div class="card">
        <div class="body">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-0">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="DatepickerInicial" name="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="DatepickerInicial"></mat-datepicker-toggle>
                <mat-datepicker #DatepickerInicial></mat-datepicker>
                <mat-error *ngIf="formulario.get('fechaInicio').hasError('required')">
                  Fecha Inicio es requerida
                </mat-error>
              </mat-form-field>
            </div><div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-0">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Fecha Final</mat-label>
              <input matInput [matDatepicker]="DatepickerFinal" name="fechaFin" formControlName="fechaFin">
              <mat-datepicker-toggle matSuffix [for]="DatepickerFinal"></mat-datepicker-toggle>
              <mat-datepicker #DatepickerFinal></mat-datepicker>
              <mat-error *ngIf="formulario.get('fechaFin').hasError('required')">
                Fecha Final es requerida
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2">
              <div class="button-row">
                <button mat-mini-fab color="primary" type="submit" [disabled]="!formulario.valid"
                        [mat-dialog-close]="1" (click)="loadData()">
                  <mat-icon class="col-white" matTooltip="Consultar ">search
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="plain-card">
      <div class="card-inner">
        <h4 class="tx-primary m-b-5">Estatus de los contratos (Se excluyen los contratos de pruebas).</h4>
        <div class="row mb-2">
          <div class="col-1"></div>
          <div class="col-2 col-block" align="left">
            <label class="font-18 col-yellow">Registrados</label>
            <h4 align="right">{{conciliacionOperaciones.registrado ? conciliacionOperaciones.registrado : 0}}<i
              class="material-icons col-yellow">assignment</i></h4>
          </div>
          <div class="col-2 col-block" align="left">
            <label class="font-18 col-blue">Impresos</label>
            <h4 align="right">{{conciliacionOperaciones.impreso ? conciliacionOperaciones.impreso : 0}}<i
              class="material-icons col-blue">print</i></h4>
          </div>
          <div class="col-2 col-block" align="left">
            <label class="font-18 col-green">Firmados</label>
            <h4 align="right">{{conciliacionOperaciones.firmado ? conciliacionOperaciones.firmado : 0}}<i
              class="material-icons col-green">create</i></h4>
          </div>
          <div class="col-2 col-block" align="left">
            <label class="font-18 col-red">Cancelados</label>
            <h4 align="right">{{conciliacionOperaciones.cancelado ? conciliacionOperaciones.cancelado : 0}}<i
              class="material-icons col-red">do_not_disturb</i></h4>
          </div>
          <div class="col-2 col-block" align="left">
            <label class="font-18 col-orange">Total</label>
            <h4 align="right">{{conciliacionOperaciones.total ? conciliacionOperaciones.total : 0}}<i
              class="material-icons col-orange">class</i></h4>
          </div>
          <div class="col-1"></div>
        </div>
        <!--        <div class="progress shadow-style mb-1 mt-1">-->
        <!--          <div-->
        <!--            class="progress-bar l-bg-red width-per-{{((conciliacionOperaciones.conciliadas/conciliacionOperaciones.total)*100)| number : '1.0-0'}}"-->
        <!--            role="progressbar" aria-valuenow="50" aria-valuemin="0"-->
        <!--            aria-valuemax="100">{{((conciliacionOperaciones.conciliadas / conciliacionOperaciones.total) * 100)| number: '1.0-0'}}%-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">

                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown"><h2><strong>{{datos.titulo}}</strong></h2></li>
                      <li class="dropdown m-l-20">
                        <label><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar..." type="text" #filter class="browser-default search-field"
                               aria-label="Search box">
                      </li>
                    </ul>
                  </div>

                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary" (click)="loadData()" matTooltip="Actualizar datos">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>

              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <!-- Checkbox Column -->
                <!--                Columnas del catalogo-->
                <ng-container matColumnDef="folio">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-8'">Folio</mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-8'">{{row.numeroContrato}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="regimenFiscal">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Regimen Fiscal</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.regimenFiscal}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="titular">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Titular</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.titular}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="apoderado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Apoderado Legal(Persona Moral)</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.representante}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaEmision">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Emisión</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.fechaContrato|date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="montoPrestamo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Monto del Prestamo</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.montoRequerido|currency:'USD'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Total a pagar</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.total|currency:'USD'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus del contrato</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.estatus}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estatusCliente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus del cliente</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.estatusCliente}}</mat-cell>
                </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef class="pr-0">Acciones</mat-header-cell>

                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button *ngIf="row.estatus == 'Firmado'" (click)="cambiarEstatus(row.id, 'impreso')" color="primary" matTooltip="Marcar {{datos.titulo.toString()}} como impreso">
                      <mat-icon>done_all</mat-icon>
                    </button>

                    <button mat-icon-button *ngIf="row.estatus == 'Firmado'" (click)="cambiarEstado(row.id, 'cambiarEstado')" color="danger" matTooltip="Cambiar estatus del contrato">
                      <mat-icon>assignment</mat-icon>
                    </button><button mat-icon-button (click)="cambiarEstatusCliente(row.id)" color="danger" matTooltip="Cambiar estatus del cliente">
                    <mat-icon>account_circle</mat-icon>
                  </button>
                                        <button mat-icon-button *ngIf="row.estatus == 'F'" (click)="extenderContrato(row.id)" color="info" matTooltip="Generar extension de contrato">
                                          <mat-icon>schedule</mat-icon>
                                        </button>
                    <button mat-icon-button *ngIf="row.estatus == 'Firmado'" (click)="verDetalles(row.id, 'detalles')" color="danger" matTooltip="Ver parcialidades">
                      <mat-icon>date_range</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="row.estatusCliente == 'Planea Extender'" (click)="generaExtension(row)" color="danger" matTooltip="Generar Extension contrato {{row.numeroContrato}}.">
                      <mat-icon>event</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="row.estatus != 'Cancelado' && row.estatus != 'Firmado'" (click)="download(row.id, row.numeroContrato);loadData()" color="danger" matTooltip="Imprimir {{datos.titulo}} folio: {{row.numeroContrato}}">
                      <mat-icon>file_download</mat-icon>
                    </button>

                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </mat-table>

              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">No se
                encontraron Resultados
              </div>
              <mat-paginator #paginator [length]="dataSource.filteredData?.length" [pageIndex]="0" [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
