<!--<div class="container">-->
<div class="width: 5000">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{data.cabecera}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover dashboard-task-infos">
      <thead>
      <tr>
        <th>Contrato</th>
        <th>Pacialidad</th>
        <th>Monto</th>
        <th>Movimiento</th>
        <th>Referencia</th>
        <th>Forma de Conciliacion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of data.datos">
        <td>{{c.parcialidad.contrato}}</td>
        <td>{{c.parcialidad.parcialidad}}</td>
        <td>{{c.parcialidad.monto | currency: 'USD'}}</td>
        <td>{{c.movimiento.folio}}</td>
        <td>{{c.movimiento.referencia}}</td>
        <td>{{c.formaConciliacion}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
