<nav #navbar class="navbar" [ngClass]="isNavbarShow ? 'active' : 'inactive'">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
         (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <!-- mobile menu bars -->
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink="Contrataciones/Contrato-Persona-Fisica">
        <img src="assets/images/logo.png" alt=""/>
        <span class="logo-name">{{logoName}}</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="pull-left collapse-menu-icon">
        <li>
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
            <mat-icon>menu</mat-icon>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <form class="register-form m-2" [formGroup]="usuario">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  m-b-0">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Sucursal</mat-label>
                <mat-select formControlName="sucursal"  (selectionChange)="actualizarSucursal()">
                  <mat-option *ngFor="let item of sucursalCombo" [value]="item.id">{{item.descripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="usuario.get('sucursal').hasError('required')">
                  Sucursal es requerida
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </li>
        <li class="fullscreen">
          <form class="register-form m-2" [formGroup]="formulario">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  m-b-0">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fecha Portafolio</mat-label>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="fecha" name="fecha" formControlName="fecha" (dateChange)="actualizarPortafolio()">
                <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                <mat-datepicker #fecha></mat-datepicker>
                <mat-error *ngIf="formulario.get('fecha').hasError('required')">
                  Fecha Portafolio es requerido
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </li>
        <li class="nav-item user_profile" ngbDropdown>
          <a href="#" onClick="return false;" ngbDropdownToggle role="button" class="nav-notification-icons pt-0">
            <img src="assets/images/user/64x64/{{avatar}}.png" class="rounded-circle" width="32" height="32" alt="User">
          </a>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px;" [perfectScrollbar]>
              <ul class="menu">
                <li class="body">
                  <ul class="user_dw_menu">
                    <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="mr-2">person</mat-icon>
                        Perfil
                      </a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="mr-2">feedback</mat-icon>
                        Soporte
                      </a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="mr-2">help</mat-icon>
                        Ayuda
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" (click)="logout()">
                        <mat-icon aria-hidden="false" class="mr-2">power_settings_new</mat-icon>
                        Salir
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="fullscreen">
          <button mat-icon-button (click)="callFullscreen()" class=" nav-notification-icons">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
