<div class="width: 5000">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="tableBody">
    <div class="table-responsive">
      <table class="table table-hover dashboard-task-infos">
        <thead>
        <tr>
          <th>Contrato</th>
          <th>Titular</th>
          <th>Parcialidad</th>
          <th>Monto</th>
          <th>Fecha</th>
          <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><b>{{data.info.contrato}}</b></td>
          <td><b>{{data.info.titular}}</b></td>
          <td><b>{{data.info.parcialidad}}</b></td>
          <td><b>{{data.info.monto| currency: 'USD'}}</b></td>
          <td><b>{{data.info.fecha | date: 'dd/MM/yyyy'}}</b></td>
          <td><p><b
            [ngStyle]="etiqueta == 'Saldo remanente'?{'color': 'red' }:{'color':'green'}">{{saldo| currency: 'USD'}} {{etiqueta}}</b>
          </p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <form [formGroup]="formulario">
    <div class="card">
      <div class="body pb-0">
        <div class="row padding-0">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 mb-0 pb-0">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Forma de Conciliacion</mat-label>
              <mat-select formControlName="formaConciliacion">
                <mat-option *ngFor="let item of formaConciliacionCombo"
                            [value]="item.id">{{item.descripcion}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formulario.get('formaConciliacion').hasError('required')">
                Forma de Conciliacion es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Campo</mat-label>
              <input matInput formControlName="campo">
            </mat-form-field>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mt-28">
            <mat-slide-toggle formControlName="conciliacionParcial">Conciliacion parcial</mat-slide-toggle>
          </div>
        </div>
        <div class="row padding-0">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 mb-0 pb-0">
            <mat-form-field class="full-width m-0" appearance="outline">
              <mat-label>Fecha Inicial</mat-label>
              <input matInput [matDatepicker]="DatepickerInicial" name="fechaInicio" formControlName="fechaInicio">
              <mat-datepicker-toggle matSuffix [for]="DatepickerInicial"></mat-datepicker-toggle>
              <mat-datepicker #DatepickerInicial></mat-datepicker>
              <mat-error *ngIf="formulario.get('fechaInicio').hasError('required')">
                Fecha es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 mb-0 pb-0">
            <mat-form-field class="full-width m-0" appearance="outline">
              <mat-label>Fecha Final</mat-label>
              <input matInput [matDatepicker]="DatepickerFin" name="fechaFin" formControlName="fechaFin">
              <mat-datepicker-toggle matSuffix [for]="DatepickerFin"></mat-datepicker-toggle>
              <mat-datepicker #DatepickerFin></mat-datepicker>
              <mat-error *ngIf="formulario.get('fechaFin').hasError('required')">
                Fecha es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-2">
            <div class="button-row">
              <button mat-mini-fab color="primary" type="submit" [disabled]="!formulario.valid"
                      (click)="loadData()">
                <mat-icon class="col-white" matTooltip="Descargar reporte de ">search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="responsive_table">
            <div class="materialTableHeader">
              <div class="row">


                <div class="col-8">
                  <ul class="header-buttons-left ml-0">
                    <li class="dropdown"><h2><strong>{{titulo}}</strong></h2></li>
                    <li class="dropdown m-l-20">
                      <label><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar..." type="text" #filter class="browser-default search-field"
                             aria-label="Search box">
                    </li>
                    <li>
                      <div class="icon-button-demo m-l-10" [hidden]=!selection.hasValue()>
                        <button mat-mini-fab color="primary" (click)="confirmAdd()">
                          <mat-icon class="col-white" matTooltip="Conciliar Movimientos">import_contacts</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>


            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                  <mat-checkbox (change)="$event ? masterToggle() : null; actualizarMonto()"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                  <mat-checkbox (change)="$event ? selection.toggle(row)  : null; actualizarMonto()"
                                [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cuenta">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-14'">Cuenta
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-14'">
                  {{row.cuenta}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-12'">Fecha
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-12'">
                  {{row.fecha|date: 'dd/MM/yyyy'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="referencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{row.referencia}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="monto">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-15'">Monto
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-15'">
                  {{row.monto|currency: 'USD'}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
              </mat-row>
            </mat-table>
            <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">No se
              encontraron Resultados
            </div>
            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive" *ngIf="data.esMovimiento==false">
    <table class="table table-hover dashboard-task-infos">
      <thead>
      <tr>
        <th>Cuenta</th>
        <th>Referencia</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Forma de concilliacion</th>
        <th>Desconciliar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of data.detalle.detalles">
        <th>{{p.movimiento[0].cuenta}}</th>
        <th>{{p.movimiento[0].referencia}}</th>
        <th>$ {{p.movimiento[0].monto| currency: 'USD'}}</th>
        <th>{{p.movimiento[0].fecha|date: 'dd-MM-yyyy'}}</th>
        <th>{{p.formaConciliacion}}</th>

        <td>
          <button mat-icon-button color="warn" matTooltip="Eliminar concepto"
                  (click)="desconciliarMovimiento(p, 'Movimiento desconciliado')">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
