<div class="width: 5000">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="card" *ngIf="data.esMovimiento==true">
    <div class="card-header">
      <div class="row">
        <div class="col-4"><p>Cuenta: <b>{{data.info.detalles[0]?data.info.detalles[0].movimiento[0].cuenta:data.datos.movimiento.cuenta}}</b></p></div>
        <div class="col-4"><p>Monto: <b>$ {{data.info.detalles[0]?data.info.detalles[0].movimiento[0].monto:data.datos.movimiento.monto| currency: 'USD'}}</b></p></div>
        <div class="col-4"><p>Fecha: <b>{{data.info.detalles[0]?data.info.detalles[0].movimiento[0].fecha:data.datos.movimiento.fecha | date: 'dd/MM/yyyy'}}</b></p></div>
        <div class="col-4"><p>Monto por movimientos: <b>$ {{data.info.detalles[0]?data.info.montoXmovimientos:data.datos.montoMovimientos| currency: 'USD'}}</b></p></div>
        <div class="col-4"><p>Monto por parcialidades: <b>$ {{data.info.detalles[0]?data.info.montoXoperaciones:data.datos.montoParcialidades| currency: 'USD'}}</b></p></div>
        <div class="col-4"><p>Saldo: <b>$ {{data.info.detalles[0]?data.info.diferencia:data.datos.saldo| currency: 'USD'}} {{data.info.detalles[0]?data.info.descripcionDiferencia:data.datos.etiqueta}}</b></p></div>
        <div class="col-12"><p>Referencia: <b>{{data.info.detalles[0]?data.info.detalles[0].movimiento[0].referencia:data.datos.movimiento.referencia}}</b></p></div>
      </div>
    </div>
  </div>


  <div class="tableBody" *ngIf="data.esMovimiento==false">
    <div class="table-responsive">
      <table class="table table-hover dashboard-task-infos">
        <thead>
        <tr>
          <th>Contrato</th>
          <th>Titular</th>
          <th>Parcialidad</th>
          <th>Monto</th>
          <th>Fecha</th>
<!--          <th>Conciliado</th>-->
<!--          <th>Saldo</th>-->
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><b>{{data.info.detalles[0]?data.info.detalles[0].operacion[0].contrato:data.info.contrato}}</b></td>
          <td><b>{{data.info.detalles[0]?data.info.detalles[0].operacion[0].titular:data.info.titular}}</b></td>
          <td><b>{{data.info.detalles[0]?data.info.detalles[0].operacion[0].parcialidad:data.info.parcialidad}}</b></td>
          <td><b>{{data.info.detalles[0]?data.info.detalles[0].operacion[0].monto:data.info.monto| currency: 'USD'}}</b></td>
          <td><b>{{data.info.detalles[0]?data.info.detalles[0].operacion[0].fecha:data.info.fecha | date: 'dd/MM/yyyy'}}</b></td>
<!--          <td><b>{{data.info.conciliado ? 'Conciliado' : 'Pendiente'}}</b></td>-->
<!--          <td><p><b-->
<!--            [ngStyle]="etiqueta == 'Saldo remanente'?{'color': 'red' }:{'color':'green'}">{{saldo| currency: 'USD'}} {{etiqueta}}</b>-->
<!--          </p></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-responsive" *ngIf="data.esMovimiento==true">
    <table class="table table-hover dashboard-task-infos">
      <thead>
      <tr>
        <th>Numero de contrato</th>
        <th>Titular</th>
        <th>Parcialidad</th>
        <th>Monto</th>
        <th>Fecha de la parcialidad</th>
        <th>Forma de concilliacion</th>
<!--        <th>Fecha del pago</th>-->
<!--        <th>Concilio</th>-->
<!--        <th>FechaConcilio</th>-->
<!--        <th>Eliminar</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of parcialidades">
<!--        <td>{{p}}</td>-->
        <td>{{p.contrato?p.contrato:p.item.contrato}}</td>
        <td>{{p.titular?p.titular:p.item.titular}}</td>
        <td>{{p.parcialidad?p.parcialidad:p.item.parcialidad}}</td>
        <td>{{p.monto?p.monto:p.item.monto| currency: 'USD'}}</td>
        <td>{{p.fecha?p.fecha:p.item.fecha | date: 'dd/MM/yyyy'}}</td>
        <th>{{data.info.detalles[0].formaConciliacion}}</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" *ngIf="data.esMovimiento==false">
    <table class="table table-hover dashboard-task-infos">
      <thead>
      <tr>

        <th>Cuenta</th>
        <th>Referencia</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Forma de concilliacion</th>
<!--        <th>Conciliado</th>-->
<!--        <th>Saldo</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of movimientos">
        <th>{{p.cuenta?p.cuenta:p.item.cuenta}}</th>
        <th>{{p.referencia?p.referencia:p.item.referencia}}</th>
        <th>$ {{p.monto?p.monto:p.item.monto| currency: 'USD'}}</th>
        <th>{{p.fecha?p.fecha:p.item.fecha|date: 'dd-MM-yyyy'}}</th>
        <th>{{data.info.detalles[0].formaConciliacion}}</th>
<!--        <th>{{p.fecha}}</th>-->
<!--        <th>{{p.conciliado ? 'Conciliado' : 'Pendiente'}}</th>-->
<!--        <th>$ {{p.saldo| currency: 'USD'}} {{p.descripcion}}</th>-->
      </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="eliminar()">
      Eliminar conciliacion
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
