<div class="width: 5000">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="card" *ngIf="data.esMovimiento==true">
    <div class="card-header">
      <div class="row">
        <div class="col-4"><p>Cuenta: <b>{{data.info.detalles[0].movimiento[0].cuenta}}</b></p></div>
        <div class="col-4"><p>Monto: <b>$ {{data.info.detalles[0].movimiento[0].monto| currency: 'USD'}}</b></p></div>
        <div class="col-4"><p>Fecha: <b>{{data.info.detalles[0].movimiento[0].fecha | date: 'dd/MM/yyyy'}}</b></p></div>
        <div class="col-4"><p>Monto por movimientos: <b>{{data.info.montoXmovimientos| currency: 'USD'}}</b></p></div>
        <div class="col-4"><p>Monto por parcialidades: <b>{{data.info.montoXoperaciones| currency: 'USD'}}</b></p></div>
        <div class="col-4"><p>Saldo: <b>{{data.info.diferencia| currency: 'USD'}} {{data.info.descripcionDiferencia}}</b></p></div>
        <div class="col-12"><p>Referencia: <b>{{data.info.detalles[0].movimiento[0].referencia}}</b></p></div>
      </div>
    </div>
  </div>


  <div class="tableBody" *ngIf="data.esMovimiento==false">
    <div class="table-responsive">
      <table class="table table-hover dashboard-task-infos">
        <thead>
        <tr>
          <th>Contrato</th>
          <th>Titular</th>
          <th>Parcialidad</th>
          <th>Monto</th>
          <th>Fecha</th>
<!--          <th>Conciliado</th>-->
<!--          <th>Saldo</th>-->
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><b>{{data.info.detalles[0].operacion[0].contrato}}</b></td>
          <td><b>{{data.info.detalles[0].operacion[0].titular}}</b></td>
          <td><b>{{data.info.detalles[0].operacion[0].parcialidad}}</b></td>
          <td><b>{{data.info.detalles[0].operacion[0].monto| currency: 'USD'}}</b></td>
          <td><b>{{data.info.detalles[0].operacion[0].fecha | date: 'dd/MM/yyyy'}}</b></td>
<!--          <td><b>{{data.info.conciliado ? 'Conciliado' : 'Pendiente'}}</b></td>-->
<!--          <td><p><b-->
<!--            [ngStyle]="etiqueta == 'Saldo remanente'?{'color': 'red' }:{'color':'green'}">{{saldo| currency: 'USD'}} {{etiqueta}}</b>-->
<!--          </p></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-responsive" *ngIf="data.esMovimiento==true">
    <table class="table table-hover dashboard-task-infos">
      <thead>
      <tr>
        <th>Numero de contrato</th>
        <th>Titular</th>
        <th>Parcialidad</th>
        <th>Monto</th>
        <th>Fecha de la parcialidad</th>
        <th>Forma de concilliacion</th>
        <th>Desconciliar</th>
<!--        <th>Concilio</th>-->
<!--        <th>FechaConcilio</th>-->
<!--        <th>Eliminar</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of data.info.detalles">
<!--        <td>{{p}}</td>-->
        <td>{{p.operacion[0].contrato}}</td>
        <td>{{p.operacion[0].titular}}</td>
        <td>{{p.operacion[0].parcialidad}}</td>
        <td>{{p.operacion[0].monto| currency: 'USD'}}</td>
        <td>{{p.operacion[0].fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{p.formaConciliacion}}</td>

        <td>
          <button mat-icon-button color="warn" matTooltip="Eliminar concepto"
                  (click)="desconciliarMovimiento(p, 'Mensualidad desconciliada')">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" *ngIf="data.esMovimiento==false">
    <table class="table table-hover dashboard-task-infos">
      <thead>
      <tr>

        <th>Cuenta</th>
        <th>Referencia</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Forma de concilliacion</th>
        <th>Desconciliar</th>
<!--        <th>Saldo</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of data.info.detalles">
        <th>{{p.movimiento[0].cuenta}}</th>
        <th>{{p.movimiento[0].referencia}}</th>
        <th>$ {{p.movimiento[0].monto| currency: 'USD'}}</th>
        <th>{{p.movimiento[0].fecha|date: 'dd-MM-yyyy'}}</th>
        <th>{{p.formaConciliacion}}</th>
<!--        <th>{{p.fecha}}</th>-->
<!--        <th>{{p.conciliado ? 'Conciliado' : 'Pendiente'}}</th>-->
<!--        <th>$ {{p.saldo| currency: 'USD'}} {{p.descripcion}}</th>-->

        <td>
          <button mat-icon-button color="warn" matTooltip="Eliminar concepto"
                  (click)="desconciliarMovimiento(p, 'Movimiento desconciliado')">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="eliminar()">
      Eliminar conciliacion
    </button>
    <button mat-flat-button color="primary" [mat-dialog-close]="1" (click)="Cerrar()">
      Abrir conciliacion
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
