<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{datos.componente}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <i class="{{datos.icono}}"></i> {{datos.modulo}}
            </li>
            <li class="breadcrumb-item bcrumb-2">{{datos.componente}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <app-conciliacion-movimientos></app-conciliacion-movimientos>
      </div>
    </div>
  </div>
</section>
